html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    height: 100%;
}

p{
color:#000000;
}

body {
background:lightgrey;
	color: black;
	line-height: 1.5;
	margin: 0;
    height: 100%;
    width: 100%;
}

a{
color:blue;
font:12px Helvetica,San-serif,Arial;
text-decoration: none;
}

a:hover{
color:red;
font:12px Helvetica,San-serif,Arial;
text-decoration: none;
}

a:visited{
color:blue;
font:12px Helvetica,San-serif,Arial;
text-decoration: none;
}

div#grass{
background:violet;
    height: auto !important;
    margin: 0 auto;
    min-height: 100%;
    width: 1000px;
}

div#grassout{
background:white;
position: absolute;
width:100%;
margin:0 auto;
padding:0 0;
min-height:100%;
height:100%;
display:table-cell;
}

header{
background:lightblue;
height:100px;
width:1000px;
margin:0 auto;
padding:0 0;
}



footer{
background:brown;
width:1000px;
height:150px;
overflow:auto;
display:block;
margin:0 auto;
position:relative;
margin-bottom: 0;
}

#main{
background:lightgreen;
width:1000px;
overflow:auto;
display:block;
margin-bottom: 200px;
position:relative;

}


.menu{
background:orange;
height:auto;
width:150px;
margin:0 0;
padding:2px;
position:relative;
display:block;
overflow:auto;
float:left;
border:1px solid lime;
}

nav{
background:pink;
min-height:30px;
width:1000px;
margin:0 auto;
padding:0 0;
position:relative;
}


div.test{
background:pink;
width:400px;
}

input.datepicker9{
background:red;
}

div.row{
background:yellow;
height:auto;
min-width:210px;
margin:2px;
padding:2px;
position:relative;
display:block;
float:left;
}

/* formforreq
*/

div.reqform{
height:180px;
width:300px;
background:#333;
margin:0 auto;
position:relative;
display:block;
text-align:left;
padding:5px;
border-radius:5px;
color:white;
}

input[type="text"].inpf{
width:200px;
background:#333;
border:1px solid orange;
border-radius:3px;
color:orange;
}

textarea.inpf{
width:280px;
background:#333;
margin:0;
position:relative;
border:1px solid orange;
border-radius:3px;
color:orange;
}

ul.inpf{
width:300px;
background:#;
list-style-type:none;
padding:5px;
}

input[type="submit"]#ok{
background:#333;
border:1px solid orange;
border-radius:3px;
margin:3px 180px;
position:relative;
color:orange;
}
